body{
    background:#FFF
}
/* For this example, I kept it easy, with 100% height to center the button */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
/* Formato das imagens*/
#cupido{
    width: 120px;
}
#diabinho{
    width: 120px;
}
/*Formato do texto */
h2{
    color: #000;
    font-size: 2em;
}
h1{
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

a{
    text-decoration: none;
}

/* Para este exemplo, usamos flexbox para realmente centralizar o botão */
.flex {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
/* Com um container relativo ao flexbox, ele está sempre em posição */
.container {
    position: relative;
}
/* O botão de movimento mágico*/
button#move {
    position: relative;
    padding: 10px 20px;
    background-color:#B3B5B3 ;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
}
/* Não parado */

button#pare {
    position: relative;
    padding: 10px 20px;
    background-color: #3D85C6;
    color:#FFF ;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    
}

/* Apenas para o sentido de um botão real  */
button#pare:hover {
    background-color:#230798 ;
}

button#pare:visited {
    background-color: #3D85C6;
    color:#FFF ;
  }